<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Node Task</title>
  </head>

  <body>
    <form action="/api/notes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>
    <ul class="quotes">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < quotes.length; i++) {%>
      <li class="quote">
        <!-- Output name from the iterated quote object -->
        <span><%= quotes[i].name %></span>:
        <!-- Output quote from the iterated quote object -->
        <span><%= quotes[i].quote %></span>
      </li>
      <% } %>
    </ul>

    <form action="/api/notes" method="PUT">
      <input type="text" placeholder="find-by-name" name="find_name" />
      <input type="text" placeholder="replace-name" name="replace_name" />
      <input type="text" placeholder="replace-quote" name="replace_quote" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>